
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #b8b8b8 !important;
	background-color: #25292f;
}

/* Layout */
.side-menu, .main {
	height: 100%;
	padding: 15px;
}

.side-menu {
	width: 20%;
}

.ui-menu {
	width: 100% !important;
}

.main {
	width: 80%;
	overflow: auto;
}

/* Sobreescrevendo estilos do primefaces */

.ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content {
	background: none !important;
}

.ui-state-active {
	background-color: #5655559e !important;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #9e9e9e14 !important
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
	background: none !important;
	background-color: #ffffff5e !important;
}

.ui-widget-header, .ui-widget-content, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content a {
	color: #e0e0e0;
}

.ui-menu .ui-menuitem-link {
	width: 98% !important;
}

.side-menu .ui-menu, .main .ui-panel, .main table, .ui-dialog {
	background-color: #25292fde !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
td.fc-day.ui-widget-content.fc-sat.fc-today.ui-state-highlight {
    background-color: #fcefa1 !important;
}

.fc-ltr .fc-basic-view .fc-day-number {
	background-color: #434547 !important;
}

.fc td.fc-today {
	color: #fcefa1 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 31px !important;
	padding: 4px 6px !important;
    border: none !important;
}

.ui-datepicker, .ui-selectonemenu-panel .ui-selectonemenu-list {
	background-color: #2a2e34 !important;
}

.fc-event {
	border-color: #aaaaaa !important;
	background-color: #484f5a !important;
    margin: 1px 0 !important;
	border-radius: 0 !important;
}

.fc-toolbar .fc-right {
	display: none;
}

a {
	color: #b6b6b6;
}

a:hover {
	color: #b6b6b6;
}

.img-grey {
	filter: grayscale(40%);
}

 #wrapper {
    width: 100%;
    background:#3e434e;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #e0e3e7;
   
}
#page-inner {
    width:100%;
    margin:10px 15px 10px 0px;
    background-color:#fff!important;
    padding:15px;
    min-height:600px;
}

.topo{
	margin-top: 50px !important;
}

.text-center {
    text-align:center;
}

element.style {
    text-align: center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

.bg-login{
	background-image:url("#{resource['assets:img/bg-login.png']}");
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	background-color:#282E3A;
	background-repeat:no-repeat;
}

h2 {
    color: #e0e0e0;
}

.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}

.logo img{
	height:40px;
	max-width:40px;
	margin-top:-7px !important;
	margin-left:0;
	margin-right: 10px;
	float: left;}


/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel{
	background-color:#7c777726 !important;
}

.btn-success {
	color: #ffffffb3;
    background-color: #00000000;
    border-color: #ffffff7a;
}

.btn-success:hover {
	color: #ffffffb3;
    background-color: #d2d5d252;
    border-color: #ffffff7a;
}


   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
color: #fff;
background: #282E3A;
width: 260px;
height: 60px;
font-size: 24px;
font-weight: 700;
}

.navbar-brand .img{
width: 30px;
height: 30px;
}


.active-menu {
    background-color: #3E434E!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background: #3E434E;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#282E3A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#3e434e;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#3e434e;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #3e434e;
	
}
.navbar-cls-top {
	background:#282e3a;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #282e3a;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 600px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}

.panel-default > .panel-heading {
	border-color: #dddddd80 !important;
}

.heading-login{
	background-color: #00000000 !important;
}

/* Utilidades */

.b0{
	border:0 !important;
}

.mt{
	margin-top: 10px !important;
}

.mb{
	margin-bottom: 10px !important;
}

.branco{
	color: #ffffffb3;
}